<!DOCTYPE html>
<html xamlns:th="http://www.thymeleaf.org">
<head>
<title>Library Management</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="./css/index.css">
</head>
<body>

	<div class="container-fluid">
		<div class="row content">
			<th:block th:include="fragment/navbar::navbar"></th:block>
			<div class="content_region">
				<h4>
					<small id="page-title">Home</small>
				</h4>
				<hr>
				<div class="main-content">
					<div class="text-center">
						<br> <br>
						<h1>Library Management</h1>
						<h4>Copyright &copy; Thu Vo All Rights Reserved</h4>
						<br> <a class="btn btn-success">Learn more&gt;&gt;</a>
					</div>					
				</div>
			</div>
		</div>
	</div>
	</div>
</body>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="./js/index.js"></script>
</html>